* {
  box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

.cx {
	display: flex;
	flex-direction: column;
	align-items: center;
}

* {
	font-size: 20px;
	font-family: sans-serif;
}

textarea {
  border: 0px solid #fff;
}

:root {
  --fg: #000;
  --bg: #fff;
  --mid: #999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #fff;
    --bg: #000;
  }
}

html,
body,
textarea,
button,
.button {
	background-color: var(--bg);
	color: var(--fg);
}

textarea,
button,
.textbox {
	border-left: 4px solid var(--mid);
}

.button {
	border-bottom: 4px solid var(--mid);
}

textarea,
.pre {
	padding: 0.5em;
	overflow-y: scroll;
	resize: none;
}

.pre {
	white-space: pre-wrap;
}

.textbox {
	height: 200px;
	overflow: auto;
}

#clap-display {
	user-select: all;
}

#content {
	padding: 0 20px;
	max-width: 600px;
	margin: 100px auto;
}

#content>* {
	width: 100%;
}

#copy {
	cursor: pointer;
	padding: 10px 0;
	width: 80px;
	position: fixed;
	left: 20px;
	top: 20px;
}

.copy-icon {
	width: 20px;
}

#copy.tick #copy-icon {
	display: none;
}

#copy:not(.tick) #copy-tick {
	display: none;
}

#content>*:not(:first-child) {
	margin-top: 20px;
}

#loader {
  position: relative;
  display: flex;
  justify-content: center;
}

#loader > #lb {
  background-color: var(--mid);
  opacity: 0.3;
}

#loader > #la {
  width: 0;
  opacity: 0;
  animation-duration: 0.8s;
  background-color: var(--mid);
  position: absolute;
}

#loader > div {
  height: 4px;
  background-color: white;
  width: 100%;
}

@keyframes load-one { to { opacity: 1; width: 100%; } }
@keyframes load-two { to { opacity: 1; width: 100%; } }

#loader.one > #la {
	animation-name: load-one;
}

#loader.two > #la {
	animation-name: load-two;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave .56s ease-in-out
}

@keyframes octocat-wave{
  0%,to {
    transform: rotate(0);
  }
  20%,60% {
    transform: rotate(-25deg);
  }
  40%,80% {
    transform: rotate(10deg);
  }
}

@media (max-width:500px){
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave .56s ease-in-out;
  }
}

#choice {
  display: flex;
  justify-content: space-between;
}

#choice > * {
  background-color: var(--mid);
  border: 1px solid transparent;
  border-radius: 50%;
  box-sizing: content-box;
  cursor: pointer;
  flex-wrap: wrap;
  font-size: 30px;
  line-height: 60px;
  opacity: 0.3;
  text-align: center;
  transition: all 0.2s;
  width: 60px;
}

#choice > :hover {
  opacity: 0.7;
}

#choice > .selected {
  opacity: 1;
}

#choice > .selected,
#choice > :hover {
  border-color: var(--fg);
}
